.venv
__pycache__
*.pyc
.env
python3-virtualenv
flask.sqlite
.DS_Store
app/static/img/hobbies/**/*.jpg
app/static/img/hobbies/**/*.JPG
app/static/img/hobbies/**/*.jpeg
app/static/img/hobbies/**/*.JPEG
app/static/img/hobbies/**/*.png
app/static/img/hobbies/**/*.HEIC
